$colors: (
  primary: (
    40: hsl(44, 98%, 97%),
    45: hsl(44, 98%, 93%),
    50: hsl(44, 98%, 90%),
    100: hsl(229, 44%, 70%),
    200: hsl(229, 44%, 65%),
    300: hsl(229, 44%, 60%),
    400: hsl(229, 44%, 55%),
    500: hsl(229, 44%, 50%),
    600: hsl(229, 44%, 45%),
    610: hsl(232, 63%, 50%),
  ),
  neutral: (
    // light
    110: hsl(0, 0%, 100%),
    210: hsl(0, 0%, 75%),
    310: hsl(0, 0%, 50%),
    410: hsl(0, 0%, 25%),
    // dark
    120: hsl(0, 0%, 5%),
    220: hsl(0, 0%, 10%),
    320: hsl(0, 0%, 15%),
    420: hsl(0, 0%, 20%),
  ),
);

@function getColor($map, $ids...) {
  @each $id in $ids {
    $map: map-get($map, $id);
  }
  @return $map;
}

// voorbeeld
// color: getColor($colors, primary, 100);
