$whiteSpace: (
  Padding: (
    main: 2rem 3rem,
    header: 2em 3em,
    card: 1em 1.5em,
    inputField: .7rem .5rem,
    form: 2em 0,
    btn: .7em 2.5em,
    btn2: .5em 1em,
  ),
  Margin: (
    auto: auto,
    card: 1.5em 0,
  ),
);

@function getSpace($mapSpace, $keys...) {
  @each $key in $keys {
    $mapSpace: map-get($mapSpace, $key);
  }
  @return $mapSpace;
}


// Global Variables
$defaultDuration: .44s;
$borderRadius: 6px;
$borderRadius2: 6px;